<launch>
  <!-- Start the navigation stack -->
  <!-- The configuration files are loaded from jackal_helper -->
  <param name="use_sim_time " value="true"/>

  <!-- <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
        <remap from="scan" to="base_scan" />
        <rosparam command="load" file="$(find laser_filters)/examples/range_filter.yaml" />
  </node> -->

  <!-- move_base is still needed to generate global path as reference for free_space motion tube -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <!-- <rosparam file="$(find jackal_helper)/configs/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jackal_helper)/configs/params/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find jackal_helper)/configs/params/odom_nav_params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find jackal_helper)/configs/params/odom_nav_params/local_costmap_params.yaml" command="load" />

    <rosparam file="$(find jackal_helper)/configs/params/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find jackal_helper)/configs/params/move_base_params.yaml" command="load" /> -->



    <!-- <rosparam file="$(find jackal_navigation)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jackal_navigation)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find jackal_navigation)/params/odom_nav_params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find jackal_navigation)/params/odom_nav_params/local_costmap_params.yaml" command="load" />

    <rosparam file="$(find jackal_navigation)/params/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find jackal_navigation)/params/move_base_params.yaml" command="load" /> -->



    <rosparam file="$(find free_space_motion_tube_ros)/configs/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find free_space_motion_tube_ros)/configs/params/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find free_space_motion_tube_ros)/configs/params/odom_nav_params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find free_space_motion_tube_ros)/configs/params/odom_nav_params/local_costmap_params.yaml" command="load" />

    <rosparam file="$(find free_space_motion_tube_ros)/configs/params/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find free_space_motion_tube_ros)/configs/params/move_base_params.yaml" command="load" />
    <rosparam file="$(find free_space_motion_tube_ros)/configs/params/global_planner_params.yaml" command="load" />



    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

    <!-- <remap from="odom" to="odometry/filtered" /> -->
    <remap from="cmd_vel" to="dump/cmd_vel" />
    <remap from="laser_scan" to="/obstacle_clearing_filtered_scan" />
  </node>


<!-- <node pkg="free_space_motion_tube_ros" type="barn_motion_tube_node" respawn="true" name="barn_motion_tube_node" >
    <remap from="front/scan" to="laser_scan" />
    <remap from="odometry/filtered" to="odom" />
</node> -->

</launch>
